<section class="offenses">
    <h2>Offenses:</h2>
    <table>
      <thead>
        <tr>
          <th>Offense #</th>
          <th>Offense</th>
          <th>Sanction</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Offense:</td>
          <td>Sanction</td>
          <td>mm/dd/yyyy</td>
          <td><a href="{% url 'reportsummarystudent' %}" class="view-button">VIEW</a></td>
        </tr>
        <tr>
      </tbody>
    </table>
  </section>