<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Guard-Notification</title>
        <link rel="#" href="#">
    </head>
    <body>
        <div class="nav-buttons">
           <a href="#">
            <button><i class="fas fa-times-circle"></i> REPORT FILING</button>
           </a> 
           <a href="#">
            <button><i class="fas fa-times-circle"></i> REPORT STATUS</button>
           </a> 
        </div>
        <div class="log-out">
            <a href="#">
                <img alt="Logout" height="20" src="#" width="20"/>
            </a> 
          </div>
        <div>
            <label for="Reviewed">Reviewed</label>
            <div class="offense">
                <div class="row">
                    <div class="col">
                        <p>Date:</p>
                    </div>
                    <div class="col">
                        <p>Student ID:</p>
                        <p>Violation:</p>
                        <p>Violation Type:</p>
                    </div>
                    <div class="col">
                        <p>Reported By:</p>
                    </div>
                    <div class="col">
                        <a href="#">
                            <button class="appeal-button">VIEW</button>
                        </a>
                    </div>
                    <div class="offense">
                        <div class="row">
                            <div class="col">
                                <p>Date:</p>
                            </div>
                            <div class="col">
                                <p>Student ID:</p>
                                <p>Violation:</p>
                                <p>Violation Type:</p>
                            </div>
                            <div class="col">
                                <p>Reported By:</p>
                            </div>
                                <div class="col">
                                    <a href="#">
                                        <button class="appeal-button">VIEW</button>
                                    </a>
                                </div>
            <hr>              
            <div class="Pending">
                <label for="Pending">Pending:</label>
                <div class="offense">
                    <div class="row">
                        <div class="col">
                            <p>Date:</p>
                        </div>
                        <div class="col">
                            <p>Student ID:</p>
                            <p>Violation:</p>
                            <p>Violation Type:</p>
                        </div>
                        <div class="col">
                            <p>Reported By:</p>
                        </div>
                        <div class="col">
                            <a href="#">
                                <button class="appeal-button">VIEW</button>
                            </a>
                        </div>
                        <div class="offense">
                            <div class="row">
                                <div class="col">
                                    <p>Date:</p>
                                </div>
                                <div class="col">
                                    <p>Student ID:</p>
                                    <p>Violation:</p>
                                    <p>Violation Type:</p>
                                </div>
                                <div class="col">
                                    <p>Reported By:</p>
                                </div>
                                <div class="col">
                                    <a href="#">
                                    <button class="appeal-button">VIEW</button>
                                    </a>
                                </div>

            </div>
        </div>
    </body>
</html>