<!DOCTYPE html>
 <head>
  <title>
   Violation Reports
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
 </head>
 <body>
  {% load static %}
  <div class="container">
   <div class="header">
    <a href={% url 'dashboard'%}>
      <img src="{% static 'adminmod/images/home.png' %}" alt="Profile Picture Placeholder" height="30" width="30"/>
    </a>
    <h1>
     Violation Reports
    </h1>
    <div class="back">
    </div>
   </div>
   <div class="tabs">
    <a href={% url 'ViolationReportsActive'%}>
    <button class="active">
     ACTIVE
    </button>
    </a>
    <a href={% url 'ViolationReportsWarning'%}>
    <button>
     WARNING
    </button>
    </a>
    <a href={% url 'ViolationReportsProbation'%}>
    <button>
     PROBATION
    </button>
    </a>
    <a href={% url 'ViolationReportsSuspension'%}>
    <button>
     SUSPENSION
    </button>
    </a>
    <a href={% url 'ViolationReportsExpulsion'%}>
    <button>
     EXPULSION
    </button>
    </a>
    <a href={% url 'ViolationReportsInactive'%}>
    <button>
     INACTIVE
    </button>
    </a>
   </div>
   <div class="report">
    <div class="details">
     <div class="date">
      <p>
       Date:
      </p>
     </div>
     <div class="info">
      <p>
       Student ID:
      </p>
      <p>
       Date Issued:
      </p>
      <p>
       Date Expiration:
      </p>
     </div>
    </div>
    <div class="actions">
      <a href="{% url 'SummaryActive' %}">
      <button>
      VIEW
     </button>
     </a>
     <div class="dropdown">
      <button>
       ASSIGN STATUS
      </button>
      <div class="actions">
        <input type="checkbox"/>
       </div>
      <div class="dropdown-content">
        <a href={% url 'IssueWarning'%}>
         WARNING
        </a>
        <a href={% url 'IssueProbation'%}>
         PROBATION
        </a>
        <a href={% url 'IssueSuspension'%}>
         SUSPENSION
        </a>
        <a href={% url 'IssueExpulsion'%}>
         EXPULSION
        </a>
        <a href={%url 'DenyReport'%}>
          DENY
         </a> 
     </div>
     </div>
    </div>
   </div>
   <div class="report">
    <div class="details">
     <div class="date">
      <p>
       Date:
      </p>
     </div>
     <div class="info">
      <p>
       Student ID:
      </p>
      <p>
       Date Issued:
      </p>
      <p>
       Date Expiration:
      </p>
     </div>
    </div>
    <div class="actions">
      <a href="{% url 'SummaryActive' %}">
        <button>
        VIEW
       </button>
       </a>
     <div class="dropdown">
      <button>
       ASSIGN STATUS
      </button>
      <div class="actions">
        <input type="checkbox"/>
       </div>
      <div class="dropdown-content">
        <a href={% url 'IssueWarning'%}>
         WARNING
        </a>
        <a href={% url 'IssueProbation'%}>
         PROBATION
        </a>
        <a href={% url 'IssueSuspension'%}>
         SUSPENSION
        </a>
        <a href={% url 'IssueExpulsion'%}>
         EXPULSION
        </a>
        <a href={% url 'DenyReport'%}>
          DENY
         </a> 
     </div>
    </div>
   </div>
   <div class="report">
    <div class="details">
     <div class="date">
      <p>
       Date:
      </p>
     </div>
     <div class="info">
      <p>
       Student ID:
      </p>
      <p>
       Date Issued:
      </p>
      <p>
       Date Expiration:
      </p>
     </div>
    </div>
    <div class="actions">
      <a href="{% url 'SummaryActive' %}">
        <button>
        VIEW
       </button>
       </a>
     <div class="dropdown">
      <button>
       ASSIGN STATUS
      </button>
      <div class="actions">
        <input type="checkbox"/>
       </div>
      <div class="dropdown-content">
       <a href={% url 'IssueWarning'%}>
        WARNING
       </a>
       <a href={% url 'IssueProbation'%}>
        PROBATION
       </a>
       <a href={% url 'IssueSuspension'%}>
        SUSPENSION
       </a>
       <a href={% url 'IssueExpulsion'%}>
        EXPULSION
       </a>
       <a href={% url 'DenyReport'%}>
        DENY
       </a> 
      </div>
     </div>
    </div>
   </div>
   <button class="confirm-button">
    CONFIRM
   </button>
  </div>
 </body>
</html>