<!DOCTYPE html>
 <head>
  <title>
   Violation Reports
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
 </head>
 <body>
    {% load static %}
    <div class="container">
        <div class="header">
         <a href={% url 'dashboard'%}>
            <img src="{% static 'adminmod/images/home.png' %}" alt="Profile Picture Placeholder" height="30" width="30"/>
         </a>
         <h1>
          Violation Reports
         </h1>
         <div class="back">
         </div>
        </div>
        <div class="tabs">
         <a href={% url 'ViolationReportsActive'%}>
         <button class="active">
          ACTIVE
         </button>
         </a>
         <a href={% url 'ViolationReportsWarning'%}>
         <button>
          WARNING
         </button>
         </a>
         <a href={% url 'ViolationReportsProbation'%}>
         <button>
          PROBATION
         </button>
         </a>
         <a href={% url 'ViolationReportsSuspension'%}>
         <button>
          SUSPENSION
         </button>
         </a>
         <a href={% url 'ViolationReportsExpulsion'%}>
         <button>
          EXPULSION
         </button>
         </a>
         <a href={% url 'ViolationReportsInactive'%}>
         <button>
          INACTIVE
         </button>
         </a>
   </div>
   <div class="search-bar">
    <input placeholder="SEARCH" type="text"/>
   </div>
   <div class="filters">
    <button>
     PROGRAM
    </button>
    <button>
     LOCATION
    </button>
    <button>
     DATE
    </button>
    <button>
     OFFENSE
    </button>
    <button>
     STATUS
    </button>
   </div>
   <div class="report">
    <div class="date">
     Date:
    </div>
    <div class="divider">
    </div>
    <div class="details">
     <div style="margin-left: 0;">
      Student ID:
     </div>
     <div>
      Violation:
     </div>
     <div>
      Violation Type:
     </div>
    </div>
    <div class="actions">
        <a href="{% url 'SummaryInactive' %}">
            <button>
              VIEW
             </button>
        </a>
     <button>
      STATUS
     </button>
    </div>
   </div>
   <div class="report">
    <div class="date">
     Date:
    </div>
    <div class="divider">
    </div>
    <div class="details">
     <div style="margin-left: 0;">
      Student ID:
     </div>
     <div>
      Violation:
     </div>
     <div>
      Violation Type:
     </div>
    </div>
    <div class="actions">
        <a href="{% url 'SummaryInactive' %}">
            <button>
              VIEW
             </button>
        </a>
     <button>
      STATUS
     </button>
    </div>
   </div>
   <div class="report">
    <div class="date">
     Date:
    </div>
    <div class="divider">
    </div>
    <div class="details">
     <div style="margin-left: 0;">
      Student ID:
     </div>
     <div>
      Violation:
     </div>
     <div>
      Violation Type:
     </div>
    </div>
    <div class="actions">
        <a href="{% url 'SummaryInactive' %}">
            <button>
              VIEW
             </button>
        </a>
     <button>
      STATUS
     </button>
    </div>
   </div>
  </div>
 </body>
</html>