{% extends "main.html" %}
{% block content %}
    {% load static %}
<div class="container">
    <img src="{% static 'adminmod/images/logo.png' %}" alt="Profile Picture Placeholder" height="100" width="100"/>
    <h1>WELCOME!</h1>
</div>   
   <hr/>
   <label for="id-number">
    ID Number:
   </label>
   <input id="id-number" name="id-number" type="text"/>
   <label for="password">
    Password:
   </label>
   <input id="password" name="password" type="password"/>
   <a href="{% url 'change' %}"><button type="button">LOG IN</button>
   </a>
   <div class="links">
    No Account? <a href="{% url 'signup' %}">Sign Up Here</a>
    <br/>
    <a href="{% url 'forget' %}">Forgot Password</a>
   </div>
  </div>
 </body>
 {% endblock content%}