{% extends "main.html" %}
{% block content %}
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'adminmod/css/login.css' %}">
    </head>
    <body>
        <div class="container">
            <img src="{% static 'adminmod/images/logo.png' %}" alt="Profile Picture Placeholder"/>
            <h1>WELCOME!</h1>
            <hr/>
            <label for="id-number">ID Number:</label>
            <input id="id-number" name="id-number" type="text"/>
    
            <label for="password">Password:</label>
            <input id="password" name="password" type="password"/>
    
            <button type="button">LOG IN</button>
    
            <div class="links">
                No Account? <a href="{% url 'signup' %}">Sign Up Here</a>
                <br/>
                <a href="{% url 'forget' %}">Forgot Password</a>
            </div>
        </div>
    </body>
 {% endblock content%}