<body>
    <div class="container">
        <div class="header">
            <h2>Reset Password</h2>
        </div>
        <div class="form">
            <form>
                <label for="new-password">New Password:</label>
                <input type="password" id="new-password" name="new-password"><br><br>
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password"><br><br>
                <a href="{% url 'resetconfirmation' %}"><button type="button">CONFIRM</button>
                </a>
                <!--<input type="submit" value="CONFIRM"> -->  <!-- Button type="submit" is used for form submission -->
            </form>
        </div>
    </div>
</body>
