<!DOCTYPE html>
 <head>
  <title>
   Add User
  </title>
 </head>
 <body>
    {% load static %}
  <div class="container">
   <div class="header">
    <a href="{% url 'userrole' %}">
    <img src="{% static 'adminmod/images/arrow-left.png' %}" alt="Profile Picture Placeholder" height="30" width="30"/>
    </a>
    <h1>
     Add User
    </h1>
   </div>
   <hr/>
   <div class="form-group">
    <label for="employee-id">
     Employee ID:
    </label>
    <input id="employee-id" type="text"/>
   </div>
   <div class="form-group">
    <label for="employee-name">
     Employee Name:
    </label>
    <input id="employee-name" type="text"/>
   </div>
   <div class="form-group">
    <label for="generated-email">
     Generated Email:
    </label>
    <div class="generated-email">
     lastname.firstname@email.com
    </div>
   </div>
   <div class="form-group">
    <label for="generated-password">
     Generated Password:
    </label>
    <div class="generated-password">
     <input id="generated-password" placeholder="randompassword" type="text"/>
     <div class="placeholder-icon">
     </div>
    </div>
   </div>
   <div class="form-group position-group">
    <label for="position">
     Position:
    </label>
    <select id="position">
     <option value="guard">
      GUARD
     </option>
     <option value="admin">
      ADMIN
     </option>
     <option value="instructor">
      INSTRUCTOR
     </option>
    </select>
   </div>
   <button class="done-button">
    DONE
   </button>
  </div>
 </body>
</html>