<!DOCTYPE html>
<head>
    <title>Edit User Role</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    {% load static %}
    <div class="container">
        <div class="header">
            <a href="{% url 'userrole' %}">
            <img src="{% static 'adminmod/images/arrow-left.png' %}" alt="Profile Picture Placeholder" height="30" width="30"/>
            </a>
            <h1>EDIT USER ROLE</h1>
        </div>
        <div class="manage-user">
            <p>Manage User</p>
            <div class="user-row">
                <div>ID - XX - XXX</div>
                <div>EMPLOYEE NAME</div>
                <div class="role">
                    <select>
                        <option>• ADMIN</option>
                        <option>• GUARD</option>
                        <option>• INSTRUCTOR</option>
                        <option>• REMOVE</option>
                    </select>
                </div>
            </div>
            <div class="user-row">
                <div>ID - XX - XXX</div>
                <div>EMPLOYEE NAME</div>
                <div class="role">
                    <select>
                        <option>• GUARD</option>
                        <option>• ADMIN</option>
                        <option>• INSTRUCTOR</option>
                        <option>• REMOVE</option>
                    </select>
                </div>
            </div>
            <div class="user-row">
                <div>ID - XX - XXX</div>
                <div>EMPLOYEE NAME</div>
                <div class="role">
                    <select>
                        <option>• INSTRUCTOR</option>
                        <option>• GUARD</option>
                        <option>• ADMIN</option>
                        <option>• REMOVE</option>
                    </select>
                </div>
            </div>
            <div class="user-row">
                <div>ID - XX - XXX</div>
                <div>EMPLOYEE NAME</div>
                <div class="role">
                    <select>
                        <option>• GUARD</option>
                        <option>• ADMIN</option>
                        <option>• INSTRUCTOR</option>
                        <option>• REMOVE</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="confirm-button">CONFIRM</button>
    </div>
</body>
</html>