<!DOCTYPE html>
<html>
    <head>
        <title>
         Student Records
        </title>
        <link rel="stylesheet" href="Addcourse.css">
    </head>
    <body>
        <div class="container">
         <div class="header">
            <a href="{% url 'studrec' %}">
                <img alt="Placeholder image" height="30" src="https://placehold.co/50x50" width="30"/>
                </a>
          <h1>
           Student Records
          </h1>
         </div>
         <div class="line">
         </div>
         <div class="sub-header">
          EDIT COURSE
         </div>
         <div class="line">
         </div>
         <div class="form-container">
          <div class="form-group">
           <label for="course">
            COURSE
           </label>
           <input id="course" name="course" type="text"/>
          </div>
          <div class="form-group">
           <label for="year">
            YEAR
           </label>
           <input id="year" name="year" type="text"/>
          </div>
          <div class="form-group">
           <label for="program">
            PROGRAM
           </label>
           <input id="program" name="program" type="text"/>
          </div>
         </div>
         <div class="btn-container">
          <button class="btn">
           DONE
          </button>
         </div>
        </div>
       </body>
</html>