<!DOCTYPE html>
 <head>
  <title>
   Student Records
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
 </head>
 <body>
  <div class="container">
   <div class="header">
    <a href="{% url 'dashboard' %}">
        <i class="fas fa-home"></i>
    </a>
    <h1>
     Student Records
    </h1>
   </div>
   {% load static %}
   <div class="buttons">
    <img alt="Settings Icon Placeholder" class="settings-icon" height="20" src="{% static 'adminmod/images/settings-sliders.png' %}" width="20"/>
    <button>
     COURSE
    </button>
    <button>
     YEAR
    </button>
   </div>
   {% load static %}
<div class="records">
    <div class="record">
        <a href="{% url 'studlist' %}">
            <img alt="Student Image Placeholder" height="100" src="{% static 'adminmod/images/folder.png' %}" width="100"/>
        </a>
        <input class="checkbox" type="checkbox"/>
    </div>
     
     <p>
      Course &amp; Year
     </p>
    </div>
    <div class="record">
        <a href="{% url 'studlist' %}">
            <img alt="Student Image Placeholder" height="100" src="{% static 'adminmod/images/folder.png' %}" width="100"/>
        </a>
        <input class="checkbox" type="checkbox"/>
    </div>
     <p>
      Course &amp; Year
     </p>
    </div>
    <div class="record">
        <a href="{% url 'studlist' %}">
            <img alt="Student Image Placeholder" height="100" src="{% static 'adminmod/images/folder.png' %}" width="100"/>
        </a>
        <input class="checkbox" type="checkbox"/>
    </div>
     <p>
      Course &amp; Year
     </p>
    </div>
    <div class="record">
        <a href="{% url 'studlist' %}">
            <img alt="Student Image Placeholder" height="100" src="{% static 'adminmod/images/folder.png' %}" width="100"/>
        </a>
        <input class="checkbox" type="checkbox"/>
    </div>
     <p>
      Course &amp; Year
     </p>
    </div>
    <div class="record">
        <a href="{% url 'studlist' %}">
            <img alt="Student Image Placeholder" height="100" src="{% static 'adminmod/images/folder.png' %}" width="100"/>
        </a>
        <input class="checkbox" type="checkbox"/>
    </div>
     <p>
      Course &amp; Year
     </p>
    </div>
    <div class="record">
        <a href="{% url 'studlist' %}">
            <img alt="Student Image Placeholder" height="100" src="{% static 'adminmod/images/folder.png' %}" width="100"/>
        </a>
        <input class="checkbox" type="checkbox"/>
    </div>
     <p>
      Course &amp; Year
     </p>
    </div>
   </div>
   <div class="footer">
    <button>
     DELETE
    </button>
    <a href="{% url 'studrec' %}">
    <button>
     CANCEL
    </button>
    </a>
   </div>
  </div>
 </body>
</html>