<!DOCTYPE html>
 <head>
  <title>
   Student Records
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
 </head>
 <body>
    {% load static %}
    <div class="container">
        <div class="header">
            <a href="{% url 'studrec' %}">
                <img alt="Placeholder image" height="30" src="{% static 'adminmod/images/arrow-left.png' %}" width="30"/>
            </a>
    <h1>
     Student Records
    </h1>
   </div>
   <div class="sub-header">
    <h2>
     COURSE - YEAR
    </h2>
    <p>
     TOTAL NUMBER OF STUDENTS
     <span class="placeholder-box">
     </span>
    </p>
   </div>
   <div class="record">
    <div>
     ID NUMBER
    </div>
    <div>
     LAST NAME, FIRST NAME
    </div>
    <div>
     AGE: X
    </div>
    <div>
     SEX: X
    </div>
    <div>
     TOTAL NUMBER OF VIOLATIONS: X
    </div>
    <div class="actions">
        <a href="{% url 'editlist' %}">
     <i class="fas fa-pencil-alt"></i>
     </a>
    </div>
   </div>
   <div class="record">
    <div>
     ID NUMBER
    </div>
    <div>
     LAST NAME, FIRST NAME
    </div>
    <div>
     AGE: X
    </div>
    <div>
     SEX: X
    </div>
    <div>
     TOTAL NUMBER OF VIOLATIONS: X
    </div>
    <div class="actions">
        <a href="{% url 'editlist' %}">
            <i class="fas fa-pencil-alt"></i>
            </a>
     </i>
    </div>
   </div>
   <div class="record">
    <div>
     ID NUMBER
    </div>
    <div>
     LAST NAME, FIRST NAME
    </div>
    <div>
     AGE: X
    </div>
    <div>
     SEX: X
    </div>
    <div>
     TOTAL NUMBER OF VIOLATIONS: X
    </div>
    <div class="actions">
        <a href="{% url 'editlist' %}">
            <i class="fas fa-pencil-alt"></i>
            </a>
     </i>
    </div>
   </div>
   <div class="record">
    <div>
     ID NUMBER
    </div>
    <div>
     LAST NAME, FIRST NAME
    </div>
    <div>
     AGE: X
    </div>
    <div>
     SEX: X
    </div>
    <div>
     TOTAL NUMBER OF VIOLATIONS: X
    </div>
    <div class="actions">
        <a href="{% url 'editlist' %}">
            <i class="fas fa-pencil-alt"></i>
            </a>
    </div>
   </div>
   <div class="record">
    <div>
     ID NUMBER
    </div>
    <div>
     LAST NAME, FIRST NAME
    </div>
    <div>
     AGE: X
    </div>
    <div>
     SEX: X
    </div>
    <div>
     TOTAL NUMBER OF VIOLATIONS: X
    </div>
    <div class="actions">
        <a href="{% url 'editlist' %}">
            <i class="fas fa-pencil-alt"></i>
            </a>
    </div>
   </div>
   <div class="record">
    <div>
     ID NUMBER
    </div>
    <div>
     LAST NAME, FIRST NAME
    </div>
    <div>
     AGE: X
    </div>
    <div>
     SEX: X
    </div>
    <div>
     TOTAL NUMBER OF VIOLATIONS: X
    </div>
    <div class="actions">
        <a href="{% url 'editlist' %}">
            <i class="fas fa-pencil-alt"></i>
            </a>
    </div>
   </div>
   <div class="record">
    <div>
     ID NUMBER
    </div>
    <div>
     LAST NAME, FIRST NAME
    </div>
    <div>
     AGE: X
    </div>
    <div>
     SEX: X
    </div>
    <div>
     TOTAL NUMBER OF VIOLATIONS: X
    </div>
    <div class="actions">
        <a href="{% url 'editlist' %}">
            <i class="fas fa-pencil-alt"></i>
            </a>
    </div>
   </div>
   <div class="buttons">
    <a href="{% url 'addlist' %}">
    <button>
     ADD
    </button>
    </a>
    <a href="{% url 'studlist2' %}">
    <button>
     SELECT
    </button>
    </a>
   </div>
  </div>
 </body>
</html>