<!DOCTYPE html>
<head>
</head>
<body>
    {% load static %}
    <div class="container">
        <div class="header">
            <div></div>
             <a href={% url 'dashboard'%}>
                <img src="{% static 'adminmod/images/home.png' %}" alt="Profile Picture Placeholder" height="30" width="30"/>
             </a>
            <h1>Deny Report</h1>
        </div>
        <div class="info">
            <div>
                <p>Date:</p>
            </div>
            <div>
                <p>Student ID:</p>
                <p>Violation:</p>
                <p>Violation Type:</p>
            </div>
            <div>
                <p>Reported By:</p>
            </div>
        </div>
        <hr/>
        <div class="textarea-container">
            <label for="reason">Reason/s for denying this report:</label>
            <textarea id="reason"></textarea>
        </div>
        <div class="buttons">
           <a href={% url 'ViolationReportsActive'%}>
            <button>BACK</button>
           </a> 
            <button>SUBMIT</button>
        </div>
    </div>
</body>
</html>