<!DOCTYPE html>
<head>
</head>
<body>
    <div class="container">
        <h1>ISSUE SUSPENSION</h1>
        <div class="section-title">Suspension Period</div>
        <div class="divider"></div>
        <div class="input-group">
            <div class="input-group-column">
                <label for="start-date">Start Date:</label>
                <input type="date" id="start-date" name="start-date">
            </div>
            <div class="input-group-column">
                <label for="end-date">End Date:</label>
                <input type="date" id="end-date" name="end-date">
            </div>
        </div>
        <div class="section-title">Suspension Details</div>
        <div class="divider"></div>
        <div class="input-group-column">
            <label for="reason">Reason for Suspension:</label>
            <textarea id="reason" name="reason"></textarea>
        </div>
        <div class="input-group-column">
            <label for="conditions">Conditions for Reinstatement:</label>
            <textarea id="conditions" name="conditions" style="height: 80px;"></textarea>
        </div>
        <div class="buttons">
            <button>CONFIRM</button>
            <a href={% url 'ViolationReportsActive'%}><button class="cancel">CANCEL</button></a> 
        </div>
    </div>
</body>
</html>