<!DOCTYPE html>
<head>
    <title>Probation Progress</title>
</head>
<body>
    <div class="header">
        <a href="{% url 'ViolationReportsProbation' %}">
            <img alt="User icon" height="50" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-BVbpSZmLndA7MfHIxv2ahIKS/user-IBY8IaMXtVn7IVIdZeyvjx16/img-exut8teghUn3mS73ZrSOHQbQ.png?st=2024-09-19T13%3A59%3A11Z&amp;se=2024-09-19T15%3A59%3A11Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-19T01%3A59%3A21Z&amp;ske=2024-09-20T01%3A59%3A21Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=wdLgvavqUFBbfwoSb/m0W7Hn7VuPSSAtYfV4wJokS7g%3D" width="50"/>
            </a>
    <div class="container">
        <h1>PROBATION PROGRESS</h1>
        <div class="section">
            <div class="section-title">Verify Progress</div>
            <div class="item">
                <div class="item-header">
                    <div>LAST NAME, FIRST NAME</div>
                    <div>COURSE - YEAR - SECTION</div>
                    <div>DATE:</div>
                    <div class="checkbox-column"><div class="placeholder-icon"></div></div>
                </div>
                <div class="item-body">
                    <div>Proof of Act:<button class="attached-file">Attached File</button></div>
                    <div>Signature:<button class="attached-file">Attached File</button></div>
                </div>
            </div>
            <div class="item">
                <div class="item-header">
                    <div>LAST NAME, FIRST NAME</div>
                    <div>COURSE - YEAR - SECTION</div>
                    <div>DATE:</div>
                    <div class="checkbox-column"><div class="placeholder-icon"></div></div>
                </div>
                <div class="item-body">
                    <div>Proof of Act:<button class="attached-file">Attached File</button></div>
                    <div>Signature:<button class="attached-file">Attached File</button></div>
                </div>
            </div>
            <div class="item">
                <div class="item-header">
                    <div>LAST NAME, FIRST NAME</div>
                    <div>COURSE - YEAR - SECTION</div>
                    <div>DATE:</div>
                    <div class="checkbox-column"><div class="placeholder-icon"></div></div>
                </div>
                <div class="item-body">
                    <div>Proof of Act:<button class="attached-file">Attached File</button></div>
                    <div>Signature:<button class="attached-file">Attached File</button></div>
                </div>
            </div>
            <div class="item">
                <div class="item-header">
                    <div>LAST NAME, FIRST NAME</div>
                    <div>COURSE - YEAR - SECTION</div>
                    <div>DATE:</div>
                    <div class="checkbox-column"><div class="placeholder-icon"></div></div>
                </div>
                <div class="item-body">
                    <div>Proof of Act:<button class="attached-file">Attached File</button></div>
                    <div>Signature:<button class="attached-file">Attached File</button></div>
                </div>
            </div>
            <button class="button">MARK AS DONE</button>
        </div>
        <div class="section">
            <div class="section-title">Completed</div>
            <div class="item">
                <div class="item-header">
                    <div>LAST NAME, FIRST NAME</div>
                    <div>COURSE - YEAR - SECTION</div>
                    <div>DATE:</div>
                </div>
                <div class="item-body">
                    <div>Proof of Act:<button class="attached-file">Attached File</button></div>
                    <div>Signature:<button class="attached-file">Attached File</button></div>
                </div>
            </div>
            <div class="see-more"><button>See More</button></div>
        </div>
        <div class="section">
            <div class="section-title">Pending</div>
            <div class="item">
                <div class="item-header">
                    <div>LAST NAME, FIRST NAME</div>
                    <div>COURSE - YEAR - SECTION</div>
                    <div>DATE:</div>
                </div>
                <div class="item-body">
                    <div>Proof of Act:<button class="attached-file">Attachment</button></div>
                    <div>Signature:<button class="attached-file">Attachment</button></div>
                </div>
            </div>
            <div class="see-more"><button>See More</button></div>
        </div>
        <div class="section">
            <div class="section-title">Missing</div>
            <div class="item">
                <div class="item-header">
                    <div>LAST NAME, FIRST NAME</div>
                    <div>COURSE - YEAR - SECTION</div>
                    <div>DATE:</div>
                </div>
                <div class="item-body">
                    <div>Proof of Act:<button class="attached-file">Attachment</button></div>
                    <div>Signature:<button class="attached-file">Attachment</button></div>
                </div>
            </div>
            <div class="see-more"><button>See More</button></div>
        </div>
    </div>
</body>
</html>