<!DOCTYPE html>
<html>
<head>
    <title>Violation Page</title>
    <link rel="#" href="#">
</head>
<body>
    <div class="container">
        <div class="title">TYPE VIOLATION - VIOLATION NAME</div>
        <hr>
        <div class="description">
            Lorem ipsum dolor sit amet. Ut eaque nobis qui voluptatem quibusdam aut sapiente autem in veritatis rerum sit modi labore. Ut architecto quisquam non voluptates pariatur et enim illo et dolores itaque eum eius adipisci aut nulla ratione.
        </div>
        <hr>
        <div class="guidelines-title">GUIDELINES</div>
        <ol class="guidelines">
            <li>Lorem ipsum dolor sit amet. Ut eaque nobis qui voluptatem quibusdam aut sapiente autem in veritatis rerum sit modi labore. Ut architecto quisquam non voluptates pariatur et enim illo et dolores itaque eum eius adipisci aut nulla ratione.</li>
            <li>Lorem ipsum dolor sit amet. Ut eaque nobis qui voluptatem quibusdam aut sapiente autem in veritatis rerum sit modi labore. Ut architecto quisquam non voluptates pariatur et enim illo et dolores itaque eum eius adipisci aut nulla ratione.</li>
            <li>Lorem ipsum dolor sit amet. Ut eaque nobis qui voluptatem quibusdam aut sapiente autem in veritatis rerum sit modi labore. Ut architecto quisquam non voluptates pariatur et enim illo et dolores itaque eum eius adipisci aut nulla ratione.</li>
        </ol>
        <a href={% url 'studentstatus'%}>
        <button class="back-button">BACK</button>
        </a>
    </div>
</body>
</html>