        body {
            background-color: #085db8;
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background-color : #fff;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        .header {
            background-color: #085db8;
            color: #fff;
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        .header h2 {
            margin: 0;
        }

        .form {
            padding: 20px;
        }

        .form label {
            display: block;
            margin-bottom: 10px;
        }

        .form input[type="password"] {
            width: 100%;
            height: 25px; /* Reduced height */
            margin-bottom: 20px;
            padding: 5px; /* Reduced padding */
            border: 1px solid #ccc;
        }

        .form input[type="submit"] {
            width: 100%;
            height: 40px;
            background-color: #085db8;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: block; /* Added to make the button centered */
            margin: 0 auto; /* Added to center the button horizontally */
        }

        .form input[type="submit"]:hover {
            background-color: #085db8;
        }