body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: white;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.container label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}
.container input[type="text"], .container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}
.container .date-container {
    display: flex;
    justify-content: space-between;
}
.container .date-container div {
    width: 48%;
}
.container .buttons {
    display: flex;
    justify-content: space-between;
}
.container .buttons button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container .buttons .confirm {
    background-color: #f0f0f0;
}
.container .buttons .cancel {
    background-color: #f0f0f0;
}