body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.section-title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.line {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.input-group label {
    margin-bottom: 5px;
}
.input-group input, .input-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
}
.input-group input:last-child, .input-group textarea:last-child {
    margin-bottom: 0;
}
.input-group textarea {
    height: 60px;
}
.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.buttons button {
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    background-color: #d0d0d0;
    font-size: 16px;
    cursor: pointer;
}
.buttons button:hover {
    background-color: #c0c0c0;
}