<!DOCTYPE html>
<html></html>
<head>
    <title>Report Summary</title>
    <link rel="#" href="#">
</head>
<body>
    <div class="container">
        <div class="header">REPORT SUMMARY</div>
        <hr>
        <div class="paragraph">
            <p><strong>Student ID:</strong> ID-XX-XXXX</p>
            <p><strong>Student Name:</strong> Juan Dela Cruz</p>
            <p><strong>Course/Year/Section:</strong> X-X-X</p>
        <hr>
            <p><strong>Date:</strong> X-X-X</p>
            <p><strong>Time:</strong> X-X-X</p>
            <p><strong>Violation Type:</strong> X-X-X</p>
        <hr>
            <p><strong>Employee ID Number:</strong> ID-XX-XXXX</p>
            <p><strong>Employee Name:</strong> X-X-X</p>
            <p><strong>Position:</strong> X-X-X</p>
        </div>
        <div class="buttons">
            <button class="submit">CONFIRM</button>
        <a href="{% url 'guardsearch2' %}">
            <button class="cancel">CANCEL</button>
        </a>
        </div>
        
    </div>
</body>
</html>