<!DOCTYPE html>
<head>
</head>
<body>
    <div class="container">
        <h1>MODIFY PROBATION</h1>
        <div class="section-title">Probation Period</div>
        <div class="line"></div>
        <div class="input-group">
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" name="start-date">
        </div>
        <div class="input-group">
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" name="end-date">
        </div>
        <div class="section-title">Probation Details</div>
        <div class="line"></div>
        <div class="input-group">
            <label for="reason">Reason for Probation:</label>
            <textarea id="reason" name="reason"></textarea>
        </div>
        <div class="input-group">
            <label for="conditions">Conditions for Reinstatement:</label>
            <textarea id="conditions" name="conditions"></textarea>
        </div>
        <div class="buttons">
            <button>CONFIRM</button>
          <a href={% url 'ViolationReportsProbation'%}> <button>CANCEL</button></a> 
        </div>
    </div>
</body>
</html>