<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container">
        <h1>MODIFY EXPULSION</h1>
        <div class="section-title">Expulsion Date</div>
        <div class="line"></div>
        <label for="effective-date">Effective Date:</label>
        <input type="date" id="effective-date" name="effective-date">
        
        <div class="section-title">Expulsion Details</div>
        <div class="line"></div>
        <label for="reason">Reason for Expulsion:</label>
        <textarea id="reason" name="reason" rows="4"></textarea>
        
        <label for="conditions">Conditions for Reinstatement:</label>
        <textarea id="conditions" name="conditions" rows="4"></textarea>
        
        <div class="button-container">
            <button class="button">CONFIRM</button>
            <a href={% url 'ViolationReportsExpulsion'%}> <button>CANCEL</button></a> 
        </div>
    </div>
</body>
</html>